
html {
  font-size: 20px;
}
body {margin:0;}
/* The navigation bar */
.navbar {
  overflow: hidden;
  background-color: #333;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
}

/* Links inside the navbar */
.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change background on mouse-over */
.navbar a:hover {
  background: #ddd;
  color: black;
}

/* Main content */
.main {
  margin-top: 30px; /* Add a top margin to avoid content overlay */
}

  
footer {
  font-size: .9rem;
  text-align: center;
   background: green;
   color: #f76497;
  width: 100%;
}


/* Make the textarea wider than other inputs */
textarea {
  width: 80%
}

/* Makes input fields wider on smaller screens */
@media only screen and (max-width: 720px) {
  textarea,
  select,
  input {
    width: 100%;
  }
}
h1, h2 {
	clear: both;
  font-weight: bold;
}

h1 {
	font-size: 2em;
        color: green;
}

h2 {
	font-size: 1.4em;
        margin-top: 2em;
           color: #778899;
}


i.hash {
  font-size: 0.8em;
  color: gold;
}
a, a:visited {
	color: red;
	text-decoration: none;
}

a:hover, a:focus, a:active {
	text-decoration: none;
}
blockquote {
    margin-left: 2em;
    margin-bottom: 2rem;
    margin-top: 2rem;
    padding: .4rem .8rem;
    border-left: .35rem solid green;
    color: blue;
    font-style: italic;
}
pre {
        overflow: auto; 
	padding: 20px;
	overflow: auto;
	max-height: 300px;
	font-size: 14px;
	background: #000;
	color: #fff;
}
