main {

  margin: 80px auto 0 auto;

  color: #000;

  background: #fff;

  font-size: 1.15rem;

  line-height: 1.618;

  display: flex;

  min-height: 100vh;

  flex-direction: column;

  flex: 1;

  max-width: 45rem;

  padding: 0 .5rem;

  overflow-x: hidden;

	word-break: break-word;

	overflow-wrap: break-word;

}

footer {

  font-size: .9rem;

  text-align: center;

  width: 100%;

}

.typewriter {
  color: #000;
  font-size: 1.5em;
  font-weight: 500;
  width: 0;
  max-width: max-content;
  overflow: hidden; 
  border-right: .6em solid transparent; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0; /* Gives that scrolling effect as the typing happens */
}

.typing-erase {
  animation: 
    4s typing-erase 4s steps(20, end) infinite,
    blink-caret .5s step-end infinite;
}

/* The type and erase effect */
@keyframes typing-erase {
  0% { width: 0 }
  50% { width: 100% }
  60%, 100% { width: 0 }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: transparent }
}



h1, h2 {

	clear: both;

  font-weight: bold;

}

h1 {

	font-size: 2em;

        color: green;

}

h2 {

	font-size: 1.4em;

        margin-top: 2em;

           color: #778899;

}

textarea {

  width: 80%

}

blockquote {

    margin-left: 2em;

    margin-bottom: 2rem;

    margin-top: 2rem;

    padding: .4rem .8rem;

    border-left: .35rem solid green;

    color: blue;

    font-style: italic;

}

pre {

        overflow: auto; 

	padding: 20px;

	overflow: auto;

	max-height: 300px;

	font-size: 14px;

	background: #000;

	color: #fff;

}

/*Configurações Globais*/

html, body {

    width: 100%;

    height: 100%;

    margin: 0;

    padding: 0;

}

a {

    text-decoration: none;

}

li {

    list-style: none;

}

/*Início das configurações da header*/

header {

    width: 100%;

    height: 50px;

    line-height: 50px;

    text-align: center;

    background-color: #f76497;

    position: fixed;

        top: 0;

}

.brand {

    width: auto;

    height: 100%;

    float: left;

    margin: 0 0 0 5%;

}

/*Início das configurações da Navigation*/

.menu {

    width: 60%;

    height: 100%;

    float: right;

}

.menu ul {

    width: 100%;

    height: inherit;

    margin: 0;

    padding: 0;

    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */

    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */

    display: -ms-flexbox;      /* TWEENER - IE 10 */

    display: -webkit-flex;     /* NEW - Chrome */

    display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */

}

li a {

    width: 50%;

    height: inherit;

    color: #222;

    display: inline-block;
    padding: 0 40px;
}

li a:hover {

    background-color: #222;

    color: #fff;

}

#menuToggle {

    display: none;

}

.menu-icon {

    display: none;

}

/*Início das configurações da Navigation com dispositivos < 768px*/

@media screen and (max-width: 768px) {

    .menu {

        width: 100%;

        height: auto;

    }

    .menu ul {

        display: block;

        max-height: 0;

    	overflow: hidden;

    	-webkit-transition: max-height 0.3s;

    	-moz-transition: max-height 0.3s;

        -ms-transition: max-height 0.3s;

        -o-transition: max-height 0.3s;

    	transition: max-height 0.3s;

        /*Para fazer com que o menu saia da esquerda, você deve trocar max-height por max-width*/

        /*Para fazer com que o menu saia da direita, você deve trocar max-height por max-width e setar float: right*/

    }

    li a {

        text-align: left;

        width: 100%;

        height: auto;

        background-color: #f773a1;

        padding: 10px 0px 10px 5%;

    }

    .menu-icon {

        width: 100px;

        height: inherit;

        display: block;

        position: absolute;

        top: 0;

        right: 0;

        line-height: 60px;

    }

    #menuToggle:checked ~ ul {

        max-height: 350px;

        /*Para fazer com que o menu saia da esquerda ou direita, você deve trocar max-height por max-width*/

    }

    .menu-icon i {

        font-size: 1.7em;

    }

  textarea,

  select,

  input {

    width: 100%;

  }

}

