<!doctype html>
<html lang="bn">
  <head>
    <meta charset="utf-8">
    <meta name="theme-color" content="#f76497">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/assets/images/favicon.png" />
    <title>{{ page.title }}</title>
    <meta name="description" content="{{ page.description }}" />
    <link rel="stylesheet" href="/assets/css/all.css" />
    <link rel="stylesheet" href="/assets/css/style.css" />

  </head>
  <body>
      
    <header>
        <figure class="brand">Sohel Khan</figure>
        <nav class="menu">
            <input type="checkbox" id="menuToggle">
            <label for="menuToggle" class="menu-icon"><i class="fas fa-bars"></i></label>
            <ul> <li>
                <a href="/">হোম</a>
                <a href="/প্রবন্ধ/পরিচিতি">পরিচিতি</a>
                <a href="/প্রবন্ধ/যোগাযোগ">যোগাযোগ</a>
                <a href="/প্রবন্ধ/মার্কডাউন">প্রবন্ধ</a>
          </li> </ul>
        </nav>
    </header>


    <main>
                {{ page.header }}
         {{ page.description }}
      {{ content }}

    </main>

    <footer>
      <p>সোহেল খান-২০২১</p>
    </footer>

  </body>
</html>
