<!doctype html>
<html lang="bn">
  <head>
    <meta charset="utf-8">
    <meta name="theme-color" content="#f76497">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/assets/images/favicon.png" />
    <title>{{ page.title }}</title>
    <meta name="description" content="{{ page.description }}" />
    <link rel="stylesheet" href="/assets/css/all.css" />
    <link rel="stylesheet" href="/assets/css/style.css" />

  </head>
  <body>
      
    <header>
        <figure class="brand typewriter typing-erase"> {{ page.header }} </figure>
        <nav class="menu">
            <input type="checkbox" id="menuToggle">
            <label for="menuToggle" class="menu-icon"><i class="fas fa-bars"></i></label>
            <ul>
                
                   <li><a  href="/">হোম</a> </li>
                   <li><a  href="/প্রবন্ধ/পরিচিতি">পরিচিতি</a> </li>
                   <li><a  href="/প্রবন্ধ/যোগাযোগ">যোগাযোগ</a> </li>
                   <li> <a  href="/প্রবন্ধ/মার্কডাউন">প্রবন্ধ</a> </li>
            
            </ul>
        </nav>
    </header>


    <main>
                
         {{ page.description }}
      {{ content }}
    <div style="text-align:center"> <a href="https://facebook.com/nahklehos"><i class="fab fa-facebook"></i></a>
<a href="https://twitter.com/nahklehos/"><i class="fa fa-twitter"></i></a>
<a href="https://linkedin.com/in/nahklehos"><i class="fa fa-linkedin"></i></a>
<a href="https://gitlab.com/sohel.khan"><i class="fa fa-gitlab"></i></a>
  </div>
    </main>

    <footer>
      <p>সোহেল খান©২০২১</p>
    </footer>

  </body>
</html>
