<!doctype html>
<html lang="bn">
  <head>
    <meta charset="utf-8">
    <meta name="theme-color" content="#f76497">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/assets/images/favicon.png" />
    <title>{{ page.title }}</title>
    <meta name="description" content="{{ page.description }}" />
    <link rel="stylesheet" href="/assets/css/all.css" />
    <link rel="stylesheet" href="/assets/css/style.css" />

  </head>
  <body>
      
    <header>
        <figure class="brand typewriter typing-erase"> {{ page.header }} </figure>
        <nav class="menu">
            <input type="checkbox" id="menuToggle">
            <label for="menuToggle" class="menu-icon"><i class="fas fa-bars"></i></label>
            <ul>
                
                   <li><a  href="/"><i class="fas fa-home"></i> হোম</a> </li>
                   <li><a  href="/#"><i class="fas fa-code"></i> কোডিং</a> </li>
                   <li><a  href="/#"><i class="fas fa-briefcase"></i> কাজ</a> </li>
                   <li> <a  href="/contents/markdown"> <i class="fas fa-blog"></i> ব্লগ</a> </li>
            
            </ul>
        </nav>
    </header>


    <main>
                
         {{ page.description }}
      {{ content }}
    
    </main>

    <footer>
<div id="disqus_thread">
  <div id="disqus_empty"></div>
</div>
<script>
function load_disqus( 'sohel' ) {
  // Prepare the trigger and target
  var is_disqus_empty = document.getElementById('disqus_empty'),
      disqus_target   = document.getElementById('disqus_thread'),
      disqus_embed    = document.createElement('script'),
      disqus_hook     = (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]);

  // Load script asynchronously only when the trigger and target exist
  if( disqus_target && is_disqus_empty ) {
    disqus_embed.type = 'text/javascript';
    disqus_embed.async = true;
    disqus_embed.src = '//' + sohel + '.disqus.com/embed.js';
    disqus_hook.appendChild(disqus_embed);
    is_disqus_empty.remove();
  }
}

/*
 * Load disqus only when the document is scrolled till the top of the
 * section where comments are supposed to appear.
 */
window.addEventListener('scroll', function(e) {
  var currentScroll = document.scrollingElement.scrollTop;
  var disqus_target = document.getElementById('disqus_thread');

  if( disqus_target && (currentScroll > disqus_target.getBoundingClientRect().top - 150) ) {
    load_disqus('w3bits');
    console.log('Disqus loaded.');
  }
}, false);
</script>
  <br> <br>
      <p>সোহেল খান©২০২১</p>
    </footer>

  </body>

</html>
